# Compiled binaries (g++ output)
1-akses/gambar
1-akses/video
1-akses/kamera
2-manipulasi/flip
2-manipulasi/resize
2-manipulasi/roi
3-segmentation/convert
3-segmentation/thresholding
3-segmentation/morphology
4-bev/main

# Results
assets/result/2-manipulasi/*.jpg
assets/result/3-segmentation/*.jpg
assets/result/4-bev/*.jpg

# Object files
*.o
*.obj

# Debug files
*.dSYM/
*.su
